.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20vh;
    padding-right: 20vh;
    padding-top: 2vh;
    background-color: whitesmoke;
    font-size: 16px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    border: 1px solid rgba(255, 255, 255, 0.22);
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 10vh;
}

.nav {
    cursor: pointer;
}

.nav:hover {
    text-decoration: underline;
}